.App {
  max-width: 1000px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1, h2, h3, h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

h1 {
  font-size: 36px;
  line-height: 120%;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-size: 32px;
  line-height: 120%;
  margin: 35px 0 35px 0;
}

h3 {
  font-size: 18px;
  line-height: 120%;
  margin-block-start: 3px;
  margin-block-end: 3px;
}

p, ul {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  margin-block-start: 10px;
  margin-block-end: 12px;
}

.body {
  max-width: 1000px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
}

.tasks {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 107px;
}

.top {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 84%;
}

.sort {
  display: flex;
  flex-flow: row;
}

button,
button:active,
button:hover,
button:visited
{
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3E3C42;
  padding: 2px 5px;
  background-color: transparent;
}
